Use the API to get all available data for the GDP per capita, PPP (constant 2017 international $) indicator. Hint: this indicator has code "NY.GDP.PCAP.PP.KD". Adjust the query parameters so that you can retrieve all available rows. Convert the results to a DataFrame.

In [21]:
import requests

In [52]:
import pandas as pd

In [23]:
url = "http://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD"

In [35]:
base_params = {
    "format": "json",
    "per_page": 500,
    "page": 1
}

Makes the first API call to get the total number of pages from the metadata. base_params: This is a dictionary that contains the parameters that the API needs in order to fulfill the request.

In [62]:
response = requests.get(url, params=base_params)
data = response.json()
total_pages = data[0]['pages']
print("Total number of pages:", total_pages)

Total number of pages: 35

data[0]: The first item in the list. 'pages': uses the key 'pages' to retrieve the corresponding value, which is the total number of pages.

In [64]:
all_data = []

In [66]:
for page in range(1, total_pages + 1):
    params = {
        "format": "json",
        "per_page": 500,
        "page": page
    }
    response = requests.get(url, params=params)
    data = response.json()
    all_data.extend(data[1])

The range() method -starts a loop from page 1 to page 35. The +1 is there because range() in Python is exclusive on the upper end. The params paginates the information per page.The extend() method takes that list and adds each individual record from data[1] to the all_data list.  The extend() method is used to avoid having nested lists and to keep all_data as a flat list of individual records.

In [67]:
df = pd.DataFrame(all_data)
print("Total records retrieved:", len(df))

Total records retrieved: 17024

 Total records retrieved is a string used in the print() function to describe what is showing.

In [76]:
df.head()

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'NY.GDP.PCAP.PP.KD', 'value': 'GDP per ...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2023,3967.860937,,,0
1,"{'id': 'NY.GDP.PCAP.PP.KD', 'value': 'GDP per ...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2022,3974.803045,,,0
2,"{'id': 'NY.GDP.PCAP.PP.KD', 'value': 'GDP per ...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2021,3934.287267,,,0
3,"{'id': 'NY.GDP.PCAP.PP.KD', 'value': 'GDP per ...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2020,3861.111238,,,0
4,"{'id': 'NY.GDP.PCAP.PP.KD', 'value': 'GDP per ...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2019,4073.880522,,,0

2. API is used to get all available data for Life expectancy at birth, total (years).

In [149]:
url = "http://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN"

In [151]:
data_params = {
    "format": "json",
    "per_page": 500,
    "page": 1
}

In [105]:
data = requests.get(url, params=data_params)
#This sends the request to the URL with the parameters you've set. The response will be saved in the data variable, which is a Response object.
life_expectancy = data.json()
#This parses the JSON response into a Python object (a list, in this case). 
all_pages = life_expectancy[0]['pages']
#This accesses the first item in the response (life_expectancy[0]), which contains metadata like the total number of pages.
print("Number of pages:", all_pages)

Number of pages: 35

In [111]:
le_data = []

In [115]:
for page in range(1, all_pages + 1):
    data_params["page"] = page 
    data = requests.get(url, params=data_params) 
    life_expectancy = data.json()  
    le_data.extend(life_expectancy[1])

In [129]:
el_df = pd.DataFrame(le_data)

In [167]:
el_df.head()

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'SP.DYN.LE00.IN', 'value': 'Life expect...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2023,NaN,,,0
1,"{'id': 'SP.DYN.LE00.IN', 'value': 'Life expect...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2022,62.888463,,,0
2,"{'id': 'SP.DYN.LE00.IN', 'value': 'Life expect...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2021,62.449093,,,0
3,"{'id': 'SP.DYN.LE00.IN', 'value': 'Life expect...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2020,63.309794,,,0
4,"{'id': 'SP.DYN.LE00.IN', 'value': 'Life expect...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2019,63.754752,,,0

In [133]:
print("life_expectancy", len(el_df))

life_expectancy 17024

3. Merge the two results DataFrames together. You may want to rename or drop columns prior to merging.

In [169]:
df = df.rename(columns={'indicator': 'gdp_indicator'})
print("Updated GDP DataFrame columns:")
print(df.columns)

Updated GDP DataFrame columns:
Index(['gdp_indicator', 'country', 'countryiso3code', 'date', 'value', 'unit',
       'obs_status', 'decimal'],
      dtype='object')

The rename() method is renaming the column. indicator: gdp_indicator is a dictionary that specifies the exact column to rename and what name to give it in the argument. df = is assigning the result of the renaming back to df. I need to assign it back to the original df to store the changes after it is renamed.

In [171]:
el_df = el_df.rename(columns={'indicator': 'life_expectancy_indicator'})
print("Updated life_expectancy DataFrame columns:")
print(el_df.columns)

Updated life_expectancy DataFrame columns:
Index(['life_expectancy_indicator', 'country', 'countryiso3code', 'date',
       'value', 'unit', 'obs_status', 'decimal'],
      dtype='object')

In [187]:
df = df.drop(columns=['unit', 'obs_status'])

KeyError: "['unit', 'obs_status'] not found in axis"